@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body, html {
    height: 100%;
    background-color: #260101;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40vw;
    width: 100%;
    height: auto;

}

.text {
    font-family: 'Georama', sans-serif;
    font-size: 1.5vw;
    background-color: #730202;
    color: white;
    border-radius: 10px;
    width: auto;
    padding: 5px 10px;
    margin-top: 10px;
    margin-right: 15vw;
    margin-left: 15vw;
    border: 2px #010D00 solid;
    text-align: center;

}

.hmini {
    font-family: 'Georama', sans-serif;
    font-size: 1vw;
    color: #726A4C;
    text-align: center;
}

.a {
    font-family: 'Georama', sans-serif;
    font-size: 1.5vw;
    background-color: #A7080D;
    color: #726A4C;
    border-radius: 10px;
    width: auto;
    padding: 10px 30px;
    margin-top: 10px;
    margin-right: 15vw;
    margin-left: 15vw;
    border: 2px #EDD664 solid;
    text-align: center;
}

.b {
    font-family: 'Georama', sans-serif;
    font-size: 1.5vw;
    background-color: #A7080D;
    color: #726A4C;
    border-radius: 10px;
    width: auto;
    padding: 10px 30px;
    margin-top: 10px;
    margin-right: 15vw;
    margin-left: 15vw;
    border: 2px #EDD664 solid;
    text-align: center;
}

.c {
    font-family: 'Georama', sans-serif;
    font-size: 1.5vw;
    background-color: #A7080D;
    color: #726A4C;
    border-radius: 10px;
    width: auto;
    padding: 10px 30px;
    margin-top: 10px;
    margin-right: 15vw;
    margin-left: 15vw;
    border: 2px #EDD664 solid;
    text-align: center;
}

.d {
    font-family: 'Georama', sans-serif;
    font-size: 1.5vw;
    background-color: #A7080D;
    color: #726A4C;
    border-radius: 10px;
    width: auto;
    padding: 25px 30px;
    margin-top: 10px;
    margin-right: 15vw;
    margin-left: 15vw;
    border: 2px #EDD664 solid;
    text-align: center;
}

.texth1 {
    font-family: 'Georama', sans-serif;
    font-size: 1.5vw;
    color: #A7080D;
    text-align: center;
    margin-right: 15vw;
    margin-left: 15vw;
}

table {
    font-family: 'Nanum Gothic', sans-serif;
    border-collapse: collapse;
    color: #726A4C;
    width: 100%;
}

td, th {
    border: 3px solid #EDD664;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #FEF6DB;
}


.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("dice-gd387fae81_1920.jpg");
    border-radius: 15px;
    height: 35%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.banner-text {
    text-align: center;
    position: absolute;
    font-family: 'Andada Pro', serif;
    font-size: 3vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FEF6DB;
}

.topnav {
    overflow: hidden;
    margin-top: 10px;
    padding: 0;
    border-radius: 15px;
    background-color: #730202;
    top: 0;
}

.topnav a {
    float: left ;
    color: white;
    font-family: 'Andada Pro', serif;
    font-size: 2vw;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: grey;
}

.topnav a.active {
    color: #726A4C;
}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    width: auto;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    overflow-x: hidden;
    padding: 1vw 0;
    border-radius: 15px;
    background-color: #EDD664;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 2vw;
    color: #FEF6DB;
    display: block;
}

.sidenav a:hover {
    background-color: #DEC85D;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .topnav a{ display: flex; justify-content: center }
}